Enable PUT to *move* a `list` entry without needing to supply the entry's contents

Per [RFC 8040 Section 4.5](https://tools.ietf.org/html/rfc8040#section-4.5), PUT can be used to move a list-entry's location in a list using the `insert` and `point` query parameters.

However, the entire content of the list entry must be supplied.  As such, the PUT operation is more accurately described as "replace, and maybe move".

Regardless, supplying the entire content of the list entry may not be desirable when 1) the client's only intention is to move an entry's position and 2) the size of the entry is significant.

The size of the entry matters as, currently, the server must traverse the entire content in order to determine that nothing has changed, in case that matters to the application.